@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .active {
    color: #C76904;
  }

  li {
    list-style: none;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .container {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}